.muiButton {
    background-color:var(--primarycolor);
    border-radius: 4px;
    gap: .5rem;
}

/*ffc800*/
.muiButton:hover{
    background-color: var(--secondarycolor);
}

.muiButtonBackground:hover{
    background-color: transparent;
    color: var(--primarycolor);
}