.muiButton {
    background-color:var(--primarycolor);
    border-radius: 4px;
    gap: .5rem;
    border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  outline: 0;
  color: #fff;
  margin: 0;
  border-radius: 4ppx;
  padding: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
}

/*ffc800*/
.muiButton:hover{
    background-color: var(--secondarycolor);
}

/* Ripple effect */
.muiButton {
    background-position: center;
    transition: background 0.8s;
  }

.muiButton:active {
    background-color: #35378dcb;
    background-size: 100%;
    transition: background 0s;
}
  
.muiButtonBackground {
    background: none;
    color: #555;
    box-shadow: none !important;
    gap: .5rem;
}

.muiButtonBackground:hover{
    color: var(--primarycolor);
    background: none;
}

/*
    background-color:var(--primarycolor);
    border-radius: 50px;
    gap: .5rem;*/

    /*
    background: #0f0c29;  
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 

background-image: -webkit-gradient(linear, left top, right top, from(#59cad1), color-stop(56%, #6267f0), to(#d462f0));
    background-image: linear-gradient(90deg, #59cad1, #6267f0 56%, #d462f0);

    */

    /**
     padding: 12px 32px;
    border-radius: 8px;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.12);
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    height: 40px;
    letter-spacing: -0.01em;
    */