.muiButton {
        padding: 12px 32px;
    border-radius: 8px;
    background-color:var(--primarycolor);
    gap: .5rem;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.12);
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    height: 40px;
    letter-spacing: -0.01em;
}

/*ffc800*/
.muiButton:hover{
    background-color: var(--secondarycolor);
}

.muiButtonBackground {
    background: none;
    color: #555;
    box-shadow: none !important;
    gap: .5rem;
}

.muiButtonBackground:hover{
    color: var(--primarycolor);
    background: none;
}

/*
    background-color:var(--primarycolor);
    border-radius: 50px;
    gap: .5rem;*/

    /*
    background: #0f0c29;  
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 

background-image: -webkit-gradient(linear, left top, right top, from(#59cad1), color-stop(56%, #6267f0), to(#d462f0));
    background-image: linear-gradient(90deg, #59cad1, #6267f0 56%, #d462f0);

    */

    /**
     padding: 12px 32px;
    border-radius: 8px;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.12);
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    height: 40px;
    letter-spacing: -0.01em;
    */