html,
* {
  box-sizing: border-box;
}

:root {
  --primarycolor: #2124b1;
  --primarybackground: #eee;
  --textcolor: #555;
  --whitish: #fff;
  --sbhover: #fff;
  --sbedge: #ddd;
  --btnhover: #FFA500;
  --secondarycolor: #FFA500; 
  --primary-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --priarygradient: linear-gradient(to right, #2124b1, #faae0a);
  --maingradient: linear-gradient(to right, red, #faae0a);
  --maincolor: #f53803;
  --card: #fff;
  --card-box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  --edb: whitesmoke;
  --sm: #555;
  --invoicebg: #eee;
  --loginfpg: #fff;
  --textbox: #eee;
}

body {
  background: var(--primarybackground);
  color: var(--textcolor);
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


[data-theme='dark'] {
  --primarybackground: #27272f;
  --textcolor: white;
  --primarycolor: #FFA500;
  --sbhover: #555;
  --sbedge: #00000014;
  --card: #555;
  --whitish: #27272f;
  --edb: #27272f;
  --sm: #27272f;
  --card-box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 
  0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  --invoicebg: #27272f;
  --loginfpg: #27272f;
  --textbox: #555;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  filter: brightness(80%);
}

p {
  font-family: 'Roboto';
}

#topicon  svg {
  color: var(--textcolor)
}

#topicon svg:hover {
  color: var(--primarycolor)
}
