#mainclass {
  --primarycolor: #2124b1;
  --textcolor: #555;
  --secondarycolor: orange; 
  --primary-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --priarygradient: linear-gradient(to right, #2124b1, #faae0a);
  --maingradient: linear-gradient(to right, red, #faae0a);
  --maincolor: #f53803;
}

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.kwikCreatorpanel .creatorCmp {
  background-color: #fff;
}

.kwikCreatorpanel .creatorCmp .highlight-region {
  background-color: #666;
}

.image__edit,
.image__remove {
  background: #999 no-repeat center center;
  background-size: 10px 10px;
  border: 0;
  border-radius: 50%;
  padding: 0;
  /*position: absolute;*/
  width: 20px;
  height: 20px;
  top: -10px;
  text-indent: -9999em;
  opacity: 0;
  transition: opacity 0.2s, background-color 0.2s;
}

 .component_div:hover .image__edit {
  opacity: 1;
}

.component_div:hover .image__remove {
  opacity: 1;
}

.image__edit:hover, .image__remove:hover,
.image__edit:focus, .image__remove:focus{
  background-color: #2124B1;
}

.image__edit:hover, .image__edit:focus-within,
.image__remove:hover, .image_edit:focus-within{
  opacity: 1;
}

.image__edit {
  background-image: url('/resize.svg');
  right: 20px;
}

.image__remove {
  background-image: url('/remove.svg');
  right: -10px;
}

.invoice-box .component_div .component_edit {
  display: flex;
}


.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #555
}

.card:hover,
.card:focus,
.card:active {
  color: #2124b1;
  border-color: #2124b1;
}

.card .AddIcon {
  font-size: 100px;
}

.parentContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  margin-left: 250px;
  margin-top: 64px;
  justify-content: center;
}

.pContainer {
  position: relative;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  margin-left: 250px;
  margin-top: 64px;
  justify-content: center;
}

.optionContainer {
  display: flex;
}

.optionContainer .option{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnOutlined {
  background: none;
  border: 1px dotted #2124b1;
  color: #2124b1 ;
}

.btnOutlined:hover {
  color: #fff;
  background: #2124b1;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cardContainer .topContainer {
  display: flex;
  font-size: x-small;
  color: white;
  justify-content: center;
  width: max-content;
  padding: 0.5rem;
  border-radius: 50%;
  background: rgb(33, 36, 177);
  align-items: center;
}

.cardContainer .middleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.1rem;
}

.cardContainer .middleContainer .centralContainer {
  display: "flex";
  flex-direction: column;
}

.cardContainer .middleContainer .centralContainer p {
  font-size: .8rem;
  font-weight: 700;
}

.cardContainer .middleContainer .centralContainer h4 {
  font-size: 1rem;
  font-weight: 700;
}

.cardContainer .bottomContainer {
  display: flex;
  font-size: 13px;
}

.ucContainer {
  display: flex;
  flex-direction: row;
  padding: .4rem;
  border-radius: 8px;
  background: #eee;
}
.ucContainer .ucswatchCircle {
  display: flex;
  font-size: x-small;
  color: white;
  justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem;
  color: rgb(33, 36, 177);
  border-radius: 50%;
  /* background: rgb(33, 36, 177); */
  align-items: center;
}

.ucContainer .ucinfo {
  white-space: nowrap;
  width: 210px;
  overflow: hidden;
  color: #555;
  text-overflow: ellipsis;
}

.ucContainer .ucinfo p {
  font-size: .8rem;
  font-weight: 400;
}

.css-2ulfj5-MuiTypography-root {
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: .9453rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.dashboardCont {
  width: 100%;
  display: flex;
  grid-gap: 2rem;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dashboardCont .btmCont {
  display: flex;
  flex-direction: row;
  grid-gap: 2rem;
  gap: 2rem;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dashboardCont .tableStack {
  box-shadow: none;
}

.dashboardCont .btmCont .salesAnalytics {
    display: flex;
    flex-direction: column;
    grid-gap: .5rem;
    gap: .5rem;
    align-items: stretch;
}

.dashboardCont .btmCont .salesAnalytics .addpcont {
  background: none;
  border: 1px dotted #2124b1;
  color: #2124b1;
  width: 100%;
  border-radius: 15px;
  height: 72px;
}

.dashboardCont .topCont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.dashboardCont .topCont .innerdiv {
  display: flex;
  flex-direction: row;
  grid-gap: .95rem;
  gap: .95rem;
  align-items: center;
}

.salesana {
  display: flex;
  background: #fff;
  padding: 1rem;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.salesana .salesdesc {
  display: flex;
  flex-direction: column;
  font-size: .9rem;
}

.salesana .salesdesc p {
  font-size: .9rem;
  font-weight: 600;
}

.salesana .salesdesc span {
  font-size: .6rem;
  font-weight: 600;
  color: #555;
}

.salesana .salesper p {
  font-size: .9rem;
  font-weight: 700;
  color: green;
}

.salesana .salesamt p{
  font-size: .9rem;
  font-weight: 700;
}

.topCont .ucStack {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 250px;
  grid-gap: .5rem;
  gap: .5rem;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #fff;
}

.tablecont {
  border-radius: 15px;
  background: #fff;
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dheader p {
  font-weight: 700;
  margin-bottom: .5rem;
}

.table {
  background-color: none;
  border-bottom: none;
  border-radius: 15px;
  box-shadow: none;
}

.table th {
  border-bottom: none;
}

.table td {
  border-bottom: .1px dotted #2124B1;
}

.kwikCreatorpanel {
  position: fixed;
  top: 4rem;
  left: 0;
  bottom: 0;
  width: 250px;
  padding: .1rem;
  min-height: 100vh;
  justify-content: flex-start;
  overflow-y: auto;
  background: #334;
  z-index: 999;
  padding-top: 1rem;
  transition: 0.5s;
  /* box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 
0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%); */
  justify-content: space-evenly;
  flex-direction: column;
}

.editorCompOuter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.editorComp {
  margin: .8rem;
  padding: 1.5rem;
  display: flex;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

.editorComp:hover, .editorComp:focus {
  border-color: #2124B1;
  color: orange;
}

.sidebar {
  position: fixed;
  top: 4rem;
  left: 0;
  bottom: 0;
  width: 250px;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  overflow-y: auto;
  background: #eee;
  z-index: 999;
  padding-top: 1rem;
  transition: 0.5s;
  /* box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 
0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%); */
  justify-content: space-evenly;
  flex-direction: column;
}

 #leftanchorsidebar {
  position: initial;
  top: 4rem;
  left: 0;
  bottom: 0;
  width: 250px;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  overflow-y: auto;
  background: linear-gradient(to right, #2124b1, #faae0a);
  z-index: 999;
  padding-top: 1rem;
  transition: 0.5s;
  /* box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 
0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%); */
  justify-content: space-evenly;
  flex-direction: column;
}

.sidebar .nav{
  overflow-y: auto;
  height: 70vh;
}

.sidebar .smallcontainer{
  width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;

}

.sidebar .outercontainer:hover .smallcontainer,
.sidebar .outercontainer:active .smallcontainer{
  color: #2124B1;
  background: #eee;
}

.sidebar .outercontainer:hover,
.sidebar .outercontainer:hover{
  padding: 7px 20px;
    color: #2124B1;
    font-weight: 500;
    border-left: 3px solid #2124B1;
    border-radius: 0 30px 30px 0;
    outline: none;
    background: #fff;
    cursor: pointer;
}

.sidebar .outercontainerActive{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  /* width: 230px; */
  padding: 7px 20px;
  color: #2124B1;
  font-weight: 500;
  border-left: 3px solid #2124B1;
  border-radius: 0 30px 30px 0;
  outline: none;
  background: #fff;
  cursor: pointer;
}

.sidebar .outercontainerActive .smallcontainer{
  color: #2124B1;
  background: #eee;
}

.sidebar .outercontainer{
  display: flex;
  flex-direction: row;
  font-weight: 500;
  padding: 7px 20px;
  border-left: 3px solid #eee;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;
}

.sidebar .upperContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 700px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .parentContainer {
    margin-left: 0px !important;
    height: 100%;
  }

  .sidebar {
    display: none;
    transition: 0.2s;
  }

  .dashboardCont {
    width: 100%;
    height: 100%;
  }

  .dashboardCont .topCont {
    flex-direction: column
  }

  .dashboardCont .topCont .innerdiv {
    flex-direction: column
  }

  .table , .tableStack{
    width: 300px;
  }
}

@media (max-width: 1030px) {
  .dashboardCont {
    width: 100%;
    height: 100%;
  }

  .parentContainer {
    margin-left: 0px !important;
    height: 100%;
  }

  .dashboardCont .topCont .innerdiv {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
  }

  .table {
    width: 100%;
  }


}

@media (max-width: 1304px) {
  .sidebar {
    display: none;
    transition: 0.2s;
  }

  .dashboardCont {
    width: 100%;
  }

  .parentContainer {
    margin-left: 0px !important;
    height: 100%;
  }
}
