.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  padding: 1rem 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer a {
  font-weight: 500;
  color: #555;
}

.footer .footInfo {
  width: max-content;
  background: var(--primarybackground);
  display: flex;
  border-radius: 20px;
  padding: .2rem 1rem;
  color:var(--primarycolor);
  gap: .5rem;
  flex-direction: row;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  color: var(--primarycolor);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.image__edit,
.image__remove {
  background: #999 no-repeat center center;
  background-size: 10px 10px;
  border: 0;
  border-radius: 50%;
  padding: 0;
  /*position: absolute;*/
  width: 20px;
  height: 20px;
  top: -10px;
  text-indent: -9999em;
  opacity: 0;
  transition: opacity 0.2s, background-color 0.2s;
}

 .component_div:hover .image__edit {
  opacity: 1;
}

.component_div:hover .image__remove {
  opacity: 1;
}

.image__edit:hover, .image__remove:hover,
.image__edit:focus, .image__remove:focus{
  background-color: var(--primarycolor);
}

.image__edit:hover, .image__edit:focus-within,
.image__remove:hover, .image_edit:focus-within{
  opacity: 1;
}

.image__edit {
  background-image: url('/resize.svg');
  right: 20px;
}

.image__remove {
  background-image: url('/remove.svg');
  right: -10px;
}

.invoice-box .component_div .component_edit {
  display: flex;
}


.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  display: flex;
  text-align: left;
  border: 1px solid var(--textcolor);
  margin: 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.imgcont {
  background: rgba(0,17,255,0.164);
  height: 100px;
  border-radius: 8px;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--primarycolor);
  border-color: var(--primarycolor);
}

.card .AddIcon {
  font-size: 100px;
}

.cardD {
  display: flex;
  text-align: left;
  background: #FFFFFF;
  text-decoration: none;
  padding: 2rem 1rem;
  width: 100%;
  gap: 1rem;
  border-radius: 4px;
  transition: color 0.15s ease, border-color 0.15s ease;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cardD:hover,
.cardD:focus,
.cardD:active {
  color: var(--primarycolor);
  border-color: var(--primarycolor);
}

.parentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin-left: 250px;
  margin-top: 64px;
  justify-content: center;
}


.pContainer {
  position: relative;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  margin-left: 250px;
  margin-top: 64px;
  justify-content: center;
}

.optionContainer {
  display: flex;
}

.optionContainer .option{
  display: flex;
  flex-direction: column;
}

.btnCreate {
  background: var(--primarycolor);
  color: #fff ;
  border-radius: 4px;
}

.btnCreate:hover {
  background: orange;
}

.btnOutlined {
  background: none;
  border: 1px dotted #2124b1;
  color: #2124b1 ;
}

.btnOutlined:hover {
  color: #fff;
  background: #2124b1;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  width: 245px;
  max-width: 300px;
  border-radius: 8px;
  background: var(--card);
  box-shadow: var(--card-box-shadow);
}

.cardContainer .topContainer {
  display: flex;
  font-size: x-small;
  color: white;
  justify-content: center;
  width: max-content;
  padding: 0.5rem;
  border-radius: 50%;
  background: rgb(33, 36, 177);
  align-items: center;
}

.cardContainer .middleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.1rem;
}

.cardContainer .middleContainer .centralContainer {
  display: "flex";
  flex-direction: column;
}

.cardContainer .middleContainer .centralContainer p {
  font-size: .8rem;
  font-weight: 700;
}

.cardContainer .middleContainer .centralContainer h4 {
  font-size: 1rem;
  font-weight: 700;
}

.cardContainer .bottomContainer {
  display: flex;
  font-size: 13px;
}

.ucContainer {
  display: flex;
  flex-direction: row;
  padding: .4rem;
  border-radius: 8px;
  background: var(--primarybackground);
}
.ucContainer .ucswatchCircle {
  display: flex;
  font-size: x-small;
  color: white;
  justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem;
  color: var(--primarycolor);
  border-radius: 50%;
  /* background: rgb(33, 36, 177); */
  align-items: center;
}

.ucContainer .ucinfo {
  white-space: nowrap;
  width: 210px;
  overflow: hidden;
  color: var(--textcolor);
  text-overflow: ellipsis;
}

.ucContainer .ucinfo p {
  font-size: .8rem;
  font-weight: 400;
}

.css-2ulfj5-MuiTypography-root {
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: .9453rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.dsboard {
  width: 100%;
  background: var(--primarybackground);
  height: 100vh;
}

.dashboardCont {
  width: 100%;
  display: flex;
  grid-gap: 2rem;
  gap: 2rem;
  margin: 0 0 2rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dashboardCont .btmCont {
  display: flex;
  flex-direction: row;
  grid-gap: 2rem;
  grid-gap: 2rem;
  gap: 2rem;
  width: 100%;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dashboardCont .tableStack {
  box-shadow: none;
}

.dashboardCont .btmCont .salesAnalytics {
    display: flex;
    flex-direction: column;
    grid-gap: .5rem;
    gap: .5rem;
    align-items: stretch;
}

.dashboardCont .btmCont .salesAnalytics .addpcont {
  background: none;
  border: 1px dotted #2124b1;
  color: #2124b1;
  width: 100%;
  border-radius: 8px;
  height: 72px;
}

.dashboardCont .topCont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.dashboardCont .topCont .innerdiv {
  display: flex;
  flex-direction: row;
  grid-gap: .95rem;
  gap: .95rem;
  align-items: center;
}

.salesana {
  display: flex;
  background: var(--card);
  padding: 1rem;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: var(--card-box-shadow);
}

.salesana .salesdesc {
  display: flex;
  flex-direction: column;
  font-size: .9rem;
}

.salesana .salesdesc p {
  font-size: .9rem;
  font-weight: 600;
}

.salesana .salesdesc span {
  font-size: .6rem;
  font-weight: 600;
  color: #555;
}

.salesana .salesper p {
  font-size: .9rem;
  font-weight: 700;
  color: green;
}

.salesana .salesamt p{
  font-size: .9rem;
  font-weight: 700;
}

.topCont .ucStack {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 250px;
  width: 250px;
  grid-gap: .5rem;
  gap: .5rem;
  border-radius: 8px;
  box-shadow: var(--card-box-shadow);
  background: var(--card);
}

.tablecont {
  border-radius: 8px;
  background: var(--card);
   padding: 2rem; 
  box-shadow: var(--card-box-shadow);
}

.dheader p {
  font-weight: 700;
  margin-bottom: .5rem;
}

.table {
  background-color: none;
  border-bottom: none;
  border-radius: 8px;
  box-shadow: none;
  width: 600px;
}

.table th {
  border-bottom: none;
}

.table td {
  border-bottom: .1px dotted var(--primarycolor);
}

.sidebar {
  position: fixed;
  top: 4rem;
  left: 0;
  bottom: 0;
  width: 250px;
  /* padding: 1rem; */
  min-height: 100vh;
  /*border-right: 1px solid var(--sbedge);*/
  display: flex;
  overflow-y: auto;
  background: var(--primarybackground);
  z-index: 999;
  /* padding-top: 1rem; */
  transition: 0.5s;
  /* box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 
0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%); */
  flex-direction: column;
  justify-content: space-evenly;
}

 #leftanchorsidebar {
  position: initial;
  top: 4rem;
  left: 0;
  bottom: 0;
  width: 250px;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  overflow-y: auto;
  background: linear-gradient(to right, var(--primarycolor), var(--secondarycolor));
  z-index: 999;
  padding-top: 1rem;
  transition: 0.5s;
  /* box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 
0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%); */
  justify-content: space-evenly;
  flex-direction: column;
}

.sidebar .nav{
  overflow-y: auto;
  padding: 1rem;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.sidebar .smallcontainer{
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  color: var(--sm);
  border-radius: 8px;
}

.sidebar .outercontainer:hover .smallcontainer,
.sidebar .outercontainer:active .smallcontainer{
  color: var(--primarycolor);
  background: var(--primarybackground);
}

.sidebar .outercontainer:hover,
.sidebar .outercontainer:hover{
  padding: 7px 20px;
    color: var(--primarycolor);
    font-weight: 500;
    border-left: 3px solid var(--primarycolor);
    border-radius: 0 30px 30px 0;
    outline: none;
    background: var(--sbhover);
    cursor: pointer;
}

.sidebar .outercontainerActive{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  /* width: 230px; */
  padding: 7px 20px;
  color: var(--primarycolor);
  font-weight: 500;
  border-left: 3px solid var(--primarycolor);
  border-radius: 0 30px 30px 0;
  outline: none;
  background: var(--sbhover);
  cursor: pointer;
}

.sidebar .outercontainerActive .smallcontainer{
  color: var(--primarycolor);
  background: var(--primarybackground);
}

.sidebar .outercontainer{
  display: flex;
  flex-direction: row;
  font-weight: 500;
  padding: 7px 20px;
  border-left: 3px solid var(--primarybackground);
  align-items: center;
  grid-gap: 1rem;
  grid-gap: 1rem;
  color: var(--textcolor);
  gap: 1rem;
}

.sidebar .upperContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideabr .sd .sdcore > button {
  border-radius: 50px;
  background-color: var(--primarycolor);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.drag-container {
  text-align: center;
}

.head {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
  width:100%;
}


.droppable {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  top: 10;
  background-color: #9E9E9E;
  border-left: 2px dotted red;
}

.draggable {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 10px auto;
}

.inProgress {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0;
  top: 10;
  background-color: #EEEEEE;
  border-right: 2px dotted red;
}

.invcard {
  display: flex;
  flex-direction: column;
  height: 230px;
  width: 300px;
  background: var(--card);
  color: var(--textcolor);
  border-radius: 4px;
  padding: 1rem;
  justify-content: space-between;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.invcard .top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  border-bottom: 1px solid #eee;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: var(--textcolor);
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.invcard .barmain {
  display: flex;
  border: 1px dotted var(--primarybackground);
  flex-direction: column;
  width: 100%;
  background: var(--primarybackground);
  /*height: 120px;*/
  border-radius: 4px;
  padding: 1rem;
  justify-content: space-evenly;
}

.invcard .invtitle {
  display: flex;
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: .9rem;
  color: var(--textcolor);
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

@media (max-width: 1030px) {
  .dashboardCont {
    width: 100%;
    height: 100%;
  }

  .parentContainer {
    margin-left: 0px !important;
    height: 100%;
  }

  .dashboardCont .topCont .innerdiv {
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 2rem; */
    justify-content: center;
  }

  .table {
    width: 100%;
  }

  .parentdiv {
    width: 100%;
    display: flex;
  }


}


@media (max-width: 1304px) {
  .sidebar {
    display: none;
    transition: 0.2s;
  }

  .dashboardCont {
    width: 100%;
  }

  .parentContainer {
    margin-left: 0px !important;
    height: 100%;
  }
}



@media (max-width: 700px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .btmCont {
    padding: 2.5rem;
  }

  .salesAnalytics {
    width: 100%;
  }

  .tablecont {
    width: 100%;
  }

  .parentdiv{
    width: 600px;
  }

  .invcard {
    width: 100%;
  }

  .cardContainer {
    width: 245px;
  }

  .parentContainer {
    margin-left: 0px !important;
    height: 100%;
  }

  .sidebar {
    display: none;
    transition: 0.2s;
  }

  .dashboardCont {
    width: 100%;
    height: 100%;
  }

  .dashboardCont .topCont {
    flex-direction: column
  }

  .dashboardCont .topCont .innerdiv {
    flex-direction: row
  }

  .ucStack {
    width: 300px;
  }

  .table , .tableStack{
    width: 100%;
  }

  .footer {
    display: flex;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
    background: var(--primarybackground);
    flex-direction: column;
  }
}


